
<ul class="navbar">
    <li class="li-title li-nav">Mongo Scraper</li>
    <li class="li-nav"><a href="/">Home</a></li>
    <li class="li-nav"><a href="/saved">Saved Articles</a></li>
    <li class="li-btn clear-btn li-nav">Clear Articles!</li>
</ul>
<div class="modal add-modal">
    <div class="modal-content">
        <span onclick="location.href='/saved'" class="close">&times;</span>
        <form class="add-form">
            <input class="text" placeholder="Your note here" /><br>
            <button type="submit" class="add-note-btn">Submit Note</button>
        </form>
    </div>
</div>
<div class="modal edit-modal">
    <div class="modal-content">
        <span onclick="location.href='/saved'" class="close">&times;</span>
        <form class="edit-form">
            <input class="text" placeholder="Your note here" />
            <button type="submit" class="edit-note-btn">Submit Note</button>
        </form>   
    </div>
</div>


<h1 class="h1">Your<br>Saved Articles</h1>
<ul class="saved">
    {{#if articles}}
        {{#each articles}}
            <li class="article" data-article-id={{_id}}>
                {{#if note}}
                    <div class="a-content">
                        <div class="a-title"><a class="a-title" target="_blank" href={{link}}>{{title}}</a></div>
                        <hr>
                        <div class="note a-summary" data-note-id={{note._id}}>Note: {{note.text}}</div>
                    </div>
                    <div class="btn-div">
                        <button class="delete-note">Delete Note</button><br>
                        <button class="edit-note">Edit Note</button><br>
                        <button class="delete-article">Remove Article</button>
                    </div>
                {{/if}}
                {{#unless note}}
                    <div class="a-content">
                        <div class="a-title"><a class="a-title" target="_blank" href={{link}}>{{title}}</a></div>
                    </div>
                    <div class="btn-div">
                        <button class="add-note">Add Note</button>
                        <button class="delete-article">Remove Article</button>
                    </div>
                {{/unless}}
            </li>
        {{/each}}
    {{/if}}
    {{#unless articles}}
        <li class="article">
            Save articles to see them on the Saved Articles page.
        </li>
    {{/unless}}
</ul>